* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sketch-container {
    width: 16em;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
}

.sketch-container>div {
    border: 1px solid black;

}
