* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sketch-container {
    width: 24em;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
}

.sketch-container>div {
    border: 1px solid black;

}
.slidecontainer {
    width: 24em;
}

input {
    width: inherit;
}

.slider {

  width: 101%;
  height: 25px;
  background: #D3D3D3;

  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 12px;  
}

.slider:hover {
  opacity: 1;
}

.tickmarks {
    display: flex;
    justify-content: space-between;
}

#flag {
  background-color: #FF0000;
  border: 1px solid red;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px;
}

.btn-reset {
  display: block;
}